*.class
CommonAssemblyInfo.cs
bin\IKVM.AWT.WinForms.dll
bin\IKVM.MSBuild.dll
bin\IKVM.MSBuild.Java.Targets
bin\IKVM.Reflection.dll
bin\IKVM.Runtime.dll
bin\IKVM.Runtime.JNI.dll
bin\IKVM.OpenJDK.*.dll
bin\ikvm.exe.config
bin\ikvmc.exe.config
bin\ikvmstub.exe.config
bin\*.exe
bin-x64\JVM.DLL
bin-x86\JVM.DLL
lib\ikvm-api.jar
openjdk\*.dll
openjdk\allsources.gen.lst
openjdk\copyright.txt
openjdk\java\lang\PropertyConstants.java
openjdk\resources.zip
openjdk\response.gen.txt
openjdk\tools.gen.rsp
openjdk\AssemblyInfo.cs
openjdk\JniAssemblyInfo.cs
openjdk\mscorlib.jar
openjdk\System.jar
openjdk\System.Core.jar
openjdk\System.Data.jar
openjdk\System.Drawing.jar
openjdk\System.XML.jar
runtime\*.dll
runtime\*.jar
tools\*.exe
tools\*.dll
tools\pubkey.txt
.vs/*
*.cache
*.pdb
runtime/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
awt/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ikvm/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ikvmstub/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
