CommonAssemblyInfo.cs
awt/AssemblyInfo.cs
bin/IKVM.AWT.WinForms.dll
bin/IKVM.MSBuild.dll
bin/IKVM.MSBuild.Java.Targets
bin/IKVM.Reflection.dll
bin/IKVM.Runtime.dll
bin/IKVM.Runtime.JNI.dll
bin/IKVM.OpenJDK.*.dll
bin/ikvm.exe.config
bin/ikvmc.exe.config
bin/ikvmstub.exe.config
bin/*.exe
bin-x64/JVM.DLL
bin-x86/JVM.DLL
lib/ikvm-api.jar
openjdk/*.dll
openjdk/allsources.gen.lst
openjdk/copyright.txt
openjdk/java/lang/PropertyConstants.java
openjdk/MANIFEST.MF
openjdk/resources.zip
openjdk/response.gen.txt
openjdk/tools.gen.rsp
openjdk/vfs.zip
openjdk/AssemblyInfo.cs
openjdk/JniAssemblyInfo.cs
runtime/*.dll
runtime/*.jar
tools/*.exe
tools/*.dll
tools/pubkey.txt
*.java
